@import "styles_org.css";

.content
{
  text-align: justify;
  margin: auto;
  width: 70%;
}

.avatar{
    position: relative;
    float:left;
    margin-right: 5%;
    margin-top: 1%;
}

.pages{
  text-align:justify;
  margin:auto;
  width:80%;
}
/* Credits to prof Vinod Ganapathy https://csa.iisc.ac.in/~vg/ for the font from his website */
*{
  font-family: "Computer Modern", "Times", "Helvetica", "Arial", "Georgia";
}
